<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="IS_TEST_ENV_IN_DEV_MODE" value="0" />
    <add key="IsImprovePerformanceMode" value="0" />
    <add key="DOMAIN_WEBSITE_IMAGE" value="https://www.googleapis.com/drive/v3/files" />
    <add key="DOMAIN_WEBSITE_IMAGE_DEV" value="https://www.googleapis.com/drive/v3/files/" />
    <add key="DOMAIN_WEBSITE_IMAGE_TEST" value="http://103.252.253.148:8085" />
    <add key="API_UPLOAD_FILE_NAME" value="/api/uploadFile" />
    <add key="API_UPLOAD_MULTIFILE_NAME" value="/api/uploadMultiFile" />
    <add key="API_DELETE_FILE_NAME" value="/api/deleteFile" />
    <add key="API_UPLOAD_FILE_MINUTE_TIMEOUT" value="2" />
    <add key="APP_ID" value="0630A120-E723-4AD5-811F-9714FF4A8FB0" />
    <add key="APP_NAME" value="ERP Nha khoa Dr.Vương" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="CORE_VERSION" value="20.1.3.0" />
    <add key="DEBUG_DELTA_DAYS" value="-47" />
    <add key="MASTER_PORT" value="9999" />
    <add key="STATION_PORT" value="7777" />
  </appSettings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>